In [1]:
import pandas as pd
import numpy as np

In [63]:
df = pd.read_csv("moves_to_pokemon.csv", index_col="id")
df.head()

    pokemon_id    method  move_id
id
0            1   Level 0      492
1            1   Level 3      195
2            1   Level 7      264
3            1   Level 9      529
4            1  Level 13      339

In [64]:
df1 = pd.read_csv("pokemon_moves.csv", index_col="id")
df1.head()

,url,move_name,move_type,move_category,move_pp,move_power,move_accuracy,move_description,move_secondary_effect
id,,,,,,,,,
0,https://www.serebii.net/attackdex-bw/absorb.shtml,Absorb,grass,special,25,20,100,A nutrient-draining attack. The user's HP is r...,User recovers half the damage inflicted.
1,https://www.serebii.net/attackdex-bw/acid.shtml,Acid,poison,special,30,40,100,The opposing team is attacked with a spray of ...,May lower opponent's SP. DEF one stage.
2,https://www.serebii.net/attackdex-bw/acidarmor...,Acid Armor,poison,other,40,0,0,The user alters its cellular structure to liqu...,Raises user's DEFENSE two stages.
3,https://www.serebii.net/attackdex-bw/acidspray...,Acid Spray,poison,special,20,40,100,The user spits fluid that works to melt the ta...,Lowers opponent's SP. DEF two stages.
4,https://www.serebii.net/attackdex-bw/acrobatic...,Acrobatics,flying,physical,15,55,100,The user nimbly strikes the target. If the use...,Increases damage by 100% if user is not holdin...

In [65]:
df2 = pd.read_csv("pokemon_species.csv", index_col="id")
df2.head()

,url,name,type1,type2,ability1,ability2,hidden_ability,HP,Atk,Def,SpA,SpD,Spe,total
id,,,,,,,,,,,,,,
0,https://www.serebii.net/pokedex-bw/001.shtml,Bulbasaur,grass,poison,Overgrow,NaN,Chlorophyll,45,49,49,65,65,45,318
1,https://www.serebii.net/pokedex-bw/002.shtml,Ivysaur,grass,poison,Overgrow,NaN,Chlorophyll,60,62,63,80,80,60,405
2,https://www.serebii.net/pokedex-bw/003.shtml,Venusaur,grass,poison,Overgrow,NaN,Chlorophyll,80,82,83,100,100,80,525
3,https://www.serebii.net/pokedex-bw/004.shtml,Charmander,fire,NaN,Blaze,NaN,Solar Power,39,52,43,60,50,65,309
4,https://www.serebii.net/pokedex-bw/005.shtml,Charmeleon,fire,NaN,Blaze,NaN,Solar Power,58,64,58,80,65,80,405